.footer {
  height: 19.438rem;
  background-color: var(--grey3);
  h2 {
    color: var(--grey7);
  }
  h3 {
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--grey7);
  }
  hr:nth-of-type(1) {
    width: 100%;
  }
  hr:nth-of-type(2) {
    width: 6.25rem;
    background-color: var(--color-secondary);
    top: 0;
  }
  span {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--grey7);
  }
}
