header {
  margin-bottom: 2rem;
  height: 5.875rem;
  background-color: var(--grey7);
}

.logo {
  width: 176.49px;
  height: 54px;
}

.logo-peq {
  display: none;
}

nav {
  li {
    gap: 1.875rem;
  }
  a {
    color: var(--grey1);
    font-weight: 400;
    font-size: 1.125rem;
    transition: 0.3s;
  }
}

nav a:hover {
  color: var(--color-secondary);
  transition: 0.3s;
}

.burguer-menu {
  display: none;
}

form {
  input {
    width: 15rem;
    height: 2.375rem;
    background-color: var(--grey7);
    border: none;
    border-bottom: solid 1px var(--grey1);
  }
  button {
    width: 36.56px;
    height: 34.11px;
    border: none;
  }

  ::-webkit-input-placeholder {
    font-size: 0.875rem;
  }
}

.gap-nav-right {
  gap: 1rem;
}

@media (max-width: 900px) {
  .logo {
    display: none;
  }

  nav {
    display: none;
  }

  .cart {
    display: none;
  }

  .logo-peq {
    display: block;
  }
  .burguer-menu {
    display: flex;
    height: 43px;
    width: 30px;
  }
  .burguer-menu img {
    width: 30px;
  }

  form {
    button {
      width: 20px;
      height: 20px;
      border: none;
    }
    button img {
      width: 25px;
    }

    ::-webkit-input-placeholder {
      font-size: 0.625rem;
    }
  }
}

@media (max-width: 400px) {
  form {
    input {
      width: 10rem;
    }
  }
}
